<!-- table -->
<div class="card p-2 mb-2">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Category</th>
            <th scope="col">Price</th>
            
          </tr>
        </thead>
        <tbody *ngIf="order">
          <tr *ngFor="let product of order.products; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.category | mapCategory }}</td>
            <td>{{ product.price }}</td>
            
            
          </tr>
          <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>Total: <b>{{price}} mkd</b></td>
          </tr>
        </tbody>
    </table>
  </div>
