<div class="login-header">
    <h3 class="text-center">FemiliFarm</h3>
    <!-- <img src="../../../assets/img/food-app-logo.png" class="mx-auto d-block">    -->
</div>

<form [formGroup]="formModel" class="mb-4" (submit)="onSubmit()">

  <!-- username -->
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" formControlName="Username">
  </div>

  <!-- password -->
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" formControlName="Password" />
  </div>

  <br>

   <div class="form-row">
    <div class="form-group col-md-8 offset-md-2">
      <button type="submit" class="btn btn-lg btn-block" [disabled]="formModel.invalid">
        Login       
      </button>
    </div>
  </div>

</form>

