<div class="row"  *ngIf="showMessage">
    <div class="col-xs-12">
      <p class="alert alert-success">
          <strong>You added {{product.name}} to your cart!</strong> Check in your cart all the products you have addded.

      </p>
    </div>
  </div>
<img class="card-img-top" [src]="product.imageUrl" alt="Card image cap">
<div class="card-body">
    <h5 class="card-title">{{product.name}} - {{product.category | mapCategory}}</h5>
    <p class="card-text">Price: {{product.price}} mkd</p>
    <div class="buttons">
        <a *ngIf="isLogged" [routerLink]="['product-details/', product.id]" class="btn btn-outline-success">Details</a>
        <button (click)="updateCart(product)" class="btn btn-outline-success">Add to cart</button>
    </div>
    
</div>

