<p>product-details works!</p>
<div class="card mt-2 bg-warning">
    <div class="card-header font-weight-bold">{{product.category | mapCategory}}</div>
</div>

<div class="d-flex flex-wrap justify-content-start">
    <div class="card mt-2 mb-2 mr-2" style="width: 350px;">   
        <img class="card-img-top" [src]="product.imageUrl" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">{{product.description}}</p>
            <p class="card-text">Only {{product.stock}} pieces left on Stock</p>
            <p class="card-text">{{product.price}} mkd</p>
            <button class="btn btn-outline-success">Add to cart</button>
        </div>
    </div>
</div>
